@import './../variables';

.filter {
  padding: 1rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
  }

  &__submit {
    margin-top: 1rem;
  }
}


.icon-info {
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  font-size: 3.3rem;
  color: $primary-gray;
}