.cardDay{
  background-color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: #c4c4c4 0 0 4px;
  position: relative;
  &__weekday{
    display: flex;
    justify-content: center;
  }
  &__date{
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 13px;
  }
}