.admin {
  display: grid;
  grid-template-columns: 300px 1fr;
  max-width: 1000px;
  margin: 20px auto;
  grid-template-areas: "menu content";

  &__menu {
    grid-area: menu;
  }

  &__content {
    margin-left: 30px;
    margin-top: 35px;
    grid-area: content;
  }

   &__card {
    margin-bottom: 20px;
    padding: 20px !important;
     b {
      margin-bottom: 25px;
    }
  }

  &__menuHeader {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__links {
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
}

.list-item {
  cursor: pointer;
}