.btn {
  @include button;

}

.btn-dark {
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
}

.btn-padding-no {
  padding: 8px;
}

.btn-large {
  padding: 10px 30px;
}

.btn-card {
  width: 70%;
}

.buttonLink, .buttonLink span{
  display: flex;
  justify-content: center;
  align-items: center;
}