@import '../variables';
@import '../mixins';

.week {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

}

.lessons {
  width: 100%;
  padding: 5px;
}

.card {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 0.75);
  counter-reset: lesson;

  display: flex;
  flex-direction: column;
  align-items: center;


  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__weekDay {
    @include button;
    box-sizing: content-box;
    width: 19ch;
  }

  &__date {
    position: absolute;
    right: 0;
    top: -.2rem;
    font-size: .8rem;
  }


  &__lesson {
    margin: 0 30px 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &::before {
      counter-increment: lesson;
      content: counter(lesson);
      display: block;
      position: absolute;
      top: .5em;
      left: -3em;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      background-color: $primary-gray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__name {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: auto;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__teacher {
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__classroom {
    font-size: .8rem;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 15px;
  }


  &-search {
    overflow: hidden;
    height: calc(100vh - 100px); 
  }

  &-fullScreen {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 5px;
    right: 5px;
  }
 
}