@import '../variables';

.input-form {
  width: 100%;
  padding: 10px 7px;
  border: 2px solid $primary-gray;
  border-radius: 5px;
}

.filter__input {
  margin-bottom: .5rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.input-text {
}