.cardDay {
  counter-reset: counter-num;
}


.lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 20px 10px;
  position: relative;

  white-space: nowrap;
  overflow: hidden;



  &::before {
    counter-increment: counter-num;
    content: counter(counter-num);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__name {
    font-size: 24px;
  }

  &__info {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;

    &>div {
      overflow: scroll;
      //white-space: nowrap;
    }
  }

  &__teacher {
    font-size: 14px;
    margin-top: 5px;
    color: #373737;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__classroom {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9e9e9;
    width: 47px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: #373737;
  }
}