.margin-bottom-small {
  margin-bottom: 12px;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 40px;
}

.enormoustLargeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25rem;
  color: #bbb;
  z-index: 100;
}